* {
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.App {
    text-align: left;
    padding: 10px;
    border: 1px blue dotted;
}
.title {
    margin-bottom: 10px;
}
.doneTask {
    text-decoration: line-through;
    color: red;
}