* {
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: #ccc;
}
.App {
    /* text-align: left;
    padding: 10px;
    border: 1px blue dotted;
    background-color: #ddd; */
}



